<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    {{> bootstrap}}
    {{> Style}}
    {{> chatStyle}}
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body class="background">
    <nav class="navbar navbar-expand-lg navbar-light background">
      <a class="navbar-brand" style="font-family: 'Amatic SC', cursive; font-size: 25px; font-weight: bolder">CHATLANTIS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ">
              <li class="nav-item ">
                  <a class="nav-link" role="button" href={{link}}>Log out</a>
              </li>
          </ul>
      </div>
    </nav>
    
    <div class="messageBoxContainer">
      <div class="messageBox">
        <div id='messageContainer'>
          <ul id="messages"></ul>
        </div>
        <div>
          <form id="f" action="" onsubmit='postMessage()'>
            <input id="m" autocomplete="off" maxlength="200" placeholder="Type something..." autofocus/><button>Send</button>
          </form>
        </div>
      </div>
    </div>
  </body>
  {{> footer}}
  {{> chatScript}}
</html>