<!doctype html>
<html>
  <head>

      <title>{{title}}</title>
    {{> bootstrap}}
    {{> Style}}
      {{> emojistyle}}
    {{> chatStyle}}
    <script src="/socket.io/socket.io.js"></script>
      <script
              src="https://code.jquery.com/jquery-3.4.0.min.js"
              integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
              crossorigin="anonymous"></script>

      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>
  <body class="background">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" style="font-family: 'Amatic SC', cursive; font-size: 25px; font-weight: bolder"><img src="http://buckscountyherald.com/clients/buckscountyherald/1-16-2019-2-11-17-PM-6960961.png" class="center2" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item ">
                  <a class="nav-link" role="button" href={{link.[0]}}>Log out</a>
              </li>
              <li class="nav-item ">
                  <a class="nav-link" role="button" href={{link.[1]}}>Account</a>
              </li>
          </ul>
      </div>
    </nav>


    <div class="messageBoxContainer">
      <div class="messageBox">
        <div id='messageContainer'>
          <ul id="messages"></ul>
        </div>
        <div>

          <form id="f" action="" onsubmit='postMessage()'>

            <input id="m" style="display: none;" autocomplete="off" maxlength="200" placeholder="Container..." autofocus/>
              <input id="l" autocomplete="off" maxlength="200" placeholder="Container..." autofocus/>

          </form>
        </div>
      </div>
    </div>

    <script>
        $(document).ready(function () {
            var b = $("#l").emojioneArea({
                events: {
                    keyup: function(editor, event) {
                        if (event.which === 13) {
                            document.getElementById("m").value = this.getText();
                            postMessage();
                            b[0].emojioneArea.setText(''); // clear input
                        }
                    }
                },
                pickerPosition: "top",
                placeholder: "Type something",
                tones: false,
                shortnames: true,
                autocomplete: "off",
            });
        })
    </script>
  </body>
  {{>emojionearea}}
  {{> footer}}
  {{> chatScript}}
</html>