<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {{> bootstrap}}
    {{> Style}}




</head>
<body class="background">
    <div class="backgroundColor margin1 " >
        <h1 class="font1" style="font-weight: bold">C H A T L A N T I S.</h1>
        <br>
        <a href="{{pages.[0]}}" role="button"class="btn btn-light">Sign Up</a> &nbsp;
        <a href="{{pages.[1]}}" role="button"class="btn btn-light">Log In</a>
    </div>



</body>
{{> footer}}
</html>