<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {{> bootstrap}}
    {{> Style}}




</head>
<body class="background">
    <div class="backgroundColor margin1 ProfileColor" >
        <h1 class="font1 container" style="font-weight: bold">C H A T T E R B O X</h1>
        <br>
        <div class="container">
            <a href="{{pages.[1]}}" role="button"class="btn btn-primary btn-lg">Log In</a> &nbsp;
            <a href="{{pages.[0]}}" role="button"class="btn btn-primary btn-lg">Sign Up</a>
        </div>

    </div>



</body>
{{> footer}}
</html>