<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {{> bootstrap}}
    {{> Style}}




</head>
<body class="background">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="font-family: 'Amatic SC', cursive; font-size: 25px; font-weight: bolder"><img src="http://buckscountyherald.com/clients/buckscountyherald/1-16-2019-2-11-17-PM-6960961.png" class="center2" alt="logo"></a>
</nav>
    <div class="backgroundColor margin1 ProfileColor" >
        <img src="http://buckscountyherald.com/clients/buckscountyherald/1-16-2019-2-11-17-PM-6960961.png" class="center" alt="logo">
        <div class="container">
            <a href="{{pages.[1]}}" role="button" class="btn btn-primary btn-lg">Log In</a> &nbsp;
            <a href="{{pages.[0]}}" role="button" class="btn btn-primary btn-lg">Sign Up</a>
        </div>

    </div>


{{> footer}}
</body>

</html>