<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {{> bootstrap}}
    {{> Style}}

</head>
<body class="background">
<nav class="navbar navbar-expand-lg navbar-light background">
    <a class="navbar-brand" style="font-family: 'Amatic SC', cursive; font-size: 25px; font-weight: bolder">CHATLANTIS</a>
</nav>
<div class="ProfileColor">
    <p class="font3 align2" style="text-align: center" > P R O F I L E </p>
    <hr style="border: black solid 1px">
    <div class="form-group  align" >
        <label class="font2" style="font-size: 20px">Username: </label>
        <p>{{username}}</p>

    </div>
    <div class="form-group  align" >
        <label class="font2" style="font-size: 20px" >Name: </label>
        <p>{{name}}</p>
    </div>
    <div class="form-group  align" >
        <label class="font2" style="font-size: 20px" >Email: </label>
        <p>{{email}}</p>
    </div>
</div>

</body>
{{> footer}}
</html>